@use "../../../../styles/constants";

mat-card {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba($color: #cccccc, $alpha: 0.5);
  background-color: unset;

  .content {
    margin-bottom: 10px;
  }
}

mat-card-header {
  display: block;
}

mat-card-title {
  font-size: 1.75rem !important;
  padding-bottom: 10px;
}

button.load-comments-btn {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

div.comment-user {
  margin-bottom: 10px;
}

span.comment-name {
  font-weight: 500;
  font-size: medium;
}

span.comment-email {
  font-size: small;
}

div.comment-content {
  text-align: justify;
  text-justify: inter-word;
}

mat-form-field.full-width {
  width: 100%;
}

button.full-width {
  width: 100%;
}

mat-progress-bar.hide {
  visibility: hidden;
}
