<mat-toolbar class="mat-elevation-z6">
  <a mat-icon-button class="btn-home" routerLink="/">
    <mat-icon>home</mat-icon>
  </a>
  <div class="spacer">
    <div class="search-container">
      <form class="search-form" (ngSubmit)="doSearch()">
        <input
          class="search-input"
          type="text"
          placeholder="Search"
          name="q"
          [(ngModel)]="searchQuery"
        />
        <button class="search-submit" matRipple type="submit">
          <span class="material-icons md-search-icon">search</span>
        </button>
      </form>
    </div>
  </div>
  <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="navMenuMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navMenuMobile="matMenu" xPosition="before">
    <a
      class="nav-item"
      mat-menu-item
      *ngFor="let item of navItems"
      [routerLink]="item.link"
    >
      {{ item.label }}
    </a>
    <button mat-menu-item (click)="toggleDarkMode()">
      <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate">
</mat-progress-bar>
