@use "../../../../styles/constants";

mat-toolbar {
  padding-left: constants.$content-sides-width;
  padding-right: constants.$content-sides-width;
}

mat-toolbar.dark-mode {
  background: #37474f;
  background-color: #37474f;
}

button {
  text-transform: uppercase;
}

.spacer {
  flex: 1 1 auto;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.search-container {
  height: 100%;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.search-form {
  height: 100%;
  padding: 0;
  margin: 0;
  border: 0;
}

.search-input {
  display: inline-block;
  height: 100%;
  width: calc(100% - 50px);
  color: #fff;
  font-size: 0.9rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 500;
  text-shadow: 0;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.2);
  padding: 0 5px;
  margin: 0;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-sizing: border-box;
  vertical-align: top;
}

.search-input::placeholder {
  color: #fff;
}

.search-input:focus {
  outline: 0;
  border: 1px solid #fff;
}

.search-submit {
  display: inline-block;
  height: 100%;
  width: 50px;
  padding: 2px 20px 0 15px;
  margin: 0;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  vertical-align: top;
}

.material-icons {
  vertical-align: middle;
  text-align: center;
}

a.nav-item {
  text-transform: uppercase;
}

@media (max-width: constants.$small-breakpoint-width) {
  mat-toolbar {
    padding-left: constants.$content-sides-width-sm;
    padding-right: constants.$content-sides-width-sm;
  }

  .search-container {
    width: unset;
    flex: 1 1 auto;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: constants.$extra-small-breakpoint-width) {
  mat-toolbar {
    padding-left: unset;
    padding-right: unset;
  }

  .btn-home {
    margin-left: 10px;
  }

  .btn-menu {
    margin-right: 10px;
  }
}
