<mat-toolbar
  color="primary"
  class="mat-elevation-z6"
  [class]="isDarkMode ? 'dark-mode' : ''"
>
  <a mat-icon-button class="btn-home" href="/">
    <mat-icon>home</mat-icon>
  </a>
  <div class="spacer">
    <div class="search-container">
      <form class="search-form" method="get" action="/search">
        <input class="search-input" type="text" placeholder="Search" name="q" />
        <button class="search-submit" type="submit" class="search-submit">
          <span class="material-icons md-search-icon">search</span>
        </button>
      </form>
    </div>
  </div>
  <button class="btn-menu" mat-icon-button [matMenuTriggerFor]="navMenuMobile">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #navMenuMobile="matMenu" xPosition="before">
    <a
      class="nav-item"
      mat-menu-item
      *ngFor="let item of navItems"
      [href]="item.link"
    >
      {{ item.label }}
    </a>
    <button mat-menu-item (click)="toggleDarkMode()">
      <mat-icon>{{ isDarkMode ? "light_mode" : "dark_mode" }}</mat-icon>
    </button>
  </mat-menu>
</mat-toolbar>
