@use "../../../../styles/constants";

.template {
  height: 100px;
  width: 100px;
}

mat-card {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba($color: #cccccc, $alpha: 0.5);
  background-color: unset;
  margin-bottom: 10px;
}

mat-card.dark-mode {
  color: constants.$darkmode-foreground-color;
  border-color: rgba($color: #999999, $alpha: 0.5);
}

mat-card-title {
  height: 30px;
  width: 250px;
}

.shimmer-header-image {
  height: 300px;
}

mat-chip {
  min-height: 25px;
  width: 60px;
  margin-right: 4px !important;
}

div.content-tags {
  margin-top: 3px;
}

div.content-main {
  margin-top: 10px;
  height: 20px;
  width: 100%;
}
