@use "../../../../styles/constants";

mat-card {
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba($color: #cccccc, $alpha: 0.5);
  background-color: unset;
  margin-bottom: 10px;
}

mat-card.dark-mode {
  color: constants.$darkmode-foreground-color;
  border-color: rgba($color: #999999, $alpha: 0.5);
  background-color: #303030;
}

mat-card-title {
  font-size: 40px !important;
}

mat-chip {
  font-size: 0.7rem;
  font-weight: 400;
  min-height: 25px;
  background-color: unset !important;
  border-style: solid;
  border-width: 2px;
  margin-right: 4px !important;
}

mat-chip.dark-mode {
  color: constants.$darkmode-foreground-color;
  border-color: constants.$darkmode-foreground-color;
}

mat-chip.dark-mode:hover {
  color: #303030;
  background-color: constants.$darkmode-foreground-color !important;
}

div.content-tags {
  margin-top: 7px;
}

div.content-main {
  margin-top: 30px;
}
