$extra-small-breakpoint-width: 716px;
$small-breakpoint-width: 1024px;

$content-sides-width: 200px;
$content-sides-width-sm: 50px;

$darkmode-foreground-color: #dfdfdf;
$darkmode-background-color: #212121;
