.shimmer-loader {
  animation-duration: 1.5s;
  background-color: #e0e0e0 !important;
  background-image: linear-gradient(
    to right,
    #e0e0e0 0%,
    #c0c0c0 20%,
    #e0e0e0 40%,
    #e0e0e0 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  display: inline-block;
  position: relative;
  // animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  // -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmerAnimation;
  -webkit-animation-timing-function: linear;
}

.shimmer-loader-dark {
  animation-duration: 1.5s;
  background-color: #404040 !important;
  background-image: linear-gradient(
    80deg,
    #404040 0%,
    #404040 20%,
    #505050 40%,
    #404040 60%,
    #404040 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  display: inline-block;
  position: relative;
  // animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmerAnimation;
  animation-timing-function: linear;
  // -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: shimmerAnimation;
  -webkit-animation-timing-function: linear;
}

@keyframes shimmerAnimation {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}
@-webkit-keyframes shimmerAnimation {
  0% {
    background-position: -1000px 0;
  }

  100% {
    background-position: 1000px 0;
  }
}
