.post-content {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.no-post {
  height: 400px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
