<mat-card [class]="isDarkMode ? 'dark-mode' : ''" (click)="itemClick()">
  <img mat-card-image src="{{ post?.featuringImagePath }}" loading="lazy" />
  <mat-card-header>
    <mat-card-title>{{ post?.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content-tags">
      <mat-chip-list>
        <mat-chip
          *ngFor="let tag of post?.tags"
          [class]="isDarkMode ? 'dark-mode' : ''"
        >
          {{ "#" + tag }}
        </mat-chip>
      </mat-chip-list>
    </div>
    <div class="content-main">
      <p class="content-description">{{ post?.description }}</p>
    </div>
  </mat-card-content>
</mat-card>
